<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaxin.constellation.scorpio.dao.mapper.NameSpaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiaxin.constellation.scorpio.dao.entity.NameSpace">
        <id column="Id" property="id"/>
        <result column="AppId" property="appId"/>
        <result column="ClusterName" property="clusterName"/>
        <result column="NamespaceName" property="nameSpaceName"/>
        <result column="IsDeleted" property="isDeleted"/>
        <result column="DataChange_CreatedBy" property="dataChangeCreatedBy"/>
        <result column="DataChange_CreatedTime" property="dataChangeCreatedTime"/>
        <result column="DataChange_LastModifiedBy" property="dataChangeLastModifiedBy"/>
        <result column="DataChange_LastTime" property="dataChangeLastTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, AppId, ClusterName, NamespaceName, IsDeleted, DataChange_CreatedBy, DataChange_CreatedTime, DataChange_LastModifiedBy, DataChange_LastTime
    </sql>

    <select id="getMaxId" resultType="integer">
        SELECT MAX(id) FROM namespace
    </select>
</mapper>
